<Context>
<!--
$Id: context.xml 61 2008-10-25 21:20:16Z unsaved $
Tomcat-specific deployment settings.
-->

  <!--  To build a default name into your app.
        This default will override a defaultRtAppName set in web.xml.
  <Environment name="app.contextpath" type="java.lang.String"
               value="/jwebmail_webapp"/>

  DATA SOURCE NOT USED YET:
  <ResourceLink name="db/sales" global="jdbc/globalSalesDs"
                type="javax.sql.DataSource"/>
  -->
</Context>
